<!doctype html>
<html>
  <head>
    <title>About <%=gymName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=gymName%></h1>
    <p><a href="/">Home</a></p>
    <br>
    <p>Goldsmiths Gym is the ultimate student gym for those who want to get ripped and ready for hotboy/hotgirl summer!</p>
    <p>Cheaper than your average gym, at only £9.99 per month</p>
    <p>We are currently offering students £4.99 for the first three months when you sign up.</p>
    <p>You can cancel your membership anytime</p>
    <p><a href="register">Sign up</a> today to take advantage of this once in a lifetime offer!</p>
  </body>
</html>