<!doctype html>
<html>
  <head>
    <title>About <%=gymName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <div class="menu">
      <button class="menu_button">Menu</button>
      <div class="menu-content">
        <a href="/">Home</a>
        <a href="about">About Us</a>
        <a href="weather">Check the weather!</a>   
        <a href="classes">See whats on this week</a>
        <a href="search">Find a class</a>
        <a href="bookings">Book a class</a>  
        <a href="profile">Manage account</a>
        <a href="logout">Logout</a>
      </div>
    </div>
    <h1>About <%=gymName%></h1>
    <br>
    <p>Goldsmiths Gym is the ultimate student gym for those who want to get ripped and ready for hotboy/hotgirl summer!</p>
    <p>Cheaper than your average gym, at only £9.99 per month</p>
    <p>We are currently offering students £4.99 for the first three months when you sign up.</p>
    <p>You can cancel your membership anytime</p>
    <p><a href="register">Sign up</a> today to take advantage of this once in a lifetime offer!</p>
  </body>
</html>