<!doctype html>
<html>
  <head>
    <title>Welcome to <%=gymName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=gymName%></h1>
    <p><a href="about">About <%=gymName%></a></p>
    <p><a href="register">Register with us</a></p>
    <p><a href="login">Login</a></p>
    <p><a href="logout">Logout</a></p>
    <p><a href="classes">See whats on this week</a></p>
    <p><a href="search">Find a class</a></p>
    <p><a href="bookings">Book a class</a></p>
  </body>
</html>
