<!doctype html>
<html>
  <head>
    <title>Log into your account for <%=gymName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Log in to for <%=gymName%></h1>
    <p><a href="/">Home</a></p>
    <form method="POST" action="/loggedin">
        <p>Enter your name: <input id="name" type="text" name="name" value="name"/></p>
        <p>Password: <input id="password" type="text" name="password" value="password"/></p>
        <input type="submit" value="Login" />
      </form>
  </body>
</html>