<!doctype html>
<html>
  <head>
    <title>Log into your account for <%=gymName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css"/>
  </head>
  <body>
    <div class="menu">
      <button class="menu_button">Menu</button>
      <div class="menu-content">
        <a href="/">Home</a>
        <a href="about">About Us</a>
        <a href="weather">Check the weather!</a>   
        <a href="classes">See whats on this week</a>
        <a href="search">Find a class</a>
        <a href="bookings">Book a class</a>  
        <a href="profile">Manage account</a>
        <a href="logout">Logout</a>
      </div>
    </div>
    <h1>Log in to <%=gymName%></h1>
    <form method="POST" action="/loggedin">
        <p>Enter your name: <input id="name" type="text" name="name" value="name"/></p>
        <p>Password: <input id="password" type="text" name="password" value="password"/></p>
        <input type="submit" value="Login" />
      </form>
  </body>
</html>