<!doctype html>
<html>
  <head>
    <title>Log into your account for <%=gymName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Log in to for <%=gymName%></h1>
    <form method="POST" action="/loggedin">
        <p>Username: <input id="username" type="text" name="username" value="username"/></p>
        <p>Password: <input id="password" type="text" name="password" value="password"/></p>
        <input type="submit" value="Login" />
      </form>
  </body>
</html>