<!doctype html>
<html>
  <head>
    <title>Search <%=gymName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css"/>
  </head>
  <body>
    <h1>Search <%=gymName%></h1>
    <p><a href="/">Home</a></p>
    <form action="/search-result" method="GET">
      <p>What class are you looking for?</p>
      <input id="search-box" type="text" name="keyword" value="Default">
      <input type="submit" value="Search" >
    </form>
  </body>
</html>